@mixin btn($bgColor, $borderColor) {

   white-space: nowrap;
   border-radius: 4px;
   border: 1px $borderColor solid;
   background-color: $bgColor;
   padding: 0 40px;
   cursor: pointer;
   transition: 0.5s;

   span {
      transition: 0.5s;
      color: white;
      text-align: center;
      font-family: 'Ubuntu';
      font-size: 1rem;
      font-weight: 700;
      line-height: 52px;
      /* 325% */
      letter-spacing: 0.5px;
      text-transform: uppercase;
   }
}

@mixin h2Title {
   color: #1E212C;
   text-align: center;
   font-family: Ubuntu;
   font-size: 2.875rem;
   font-weight: 700;
   line-height: 130%;
}

@mixin h2Subtitle {
   color: #787A80;
   text-align: center;
   font-family: Ubuntu;
   font-size: 1.125rem;
   line-height: 150%;
}