//обнуление
@import "nullstyles.scss";
//общие стили
@import "basestyles.scss";

//===========================================================================================//

html {
   font-size: 16px;
}

body {}

.swiper-padination-wrapper {
   .swiper-pagination {
      max-width: 1230px;
      bottom: 35px;
      left: 0;
      right: 0;
      margin: auto;
      text-align: left;

      // left: 50%;
      // //width: XXXpx;
      // margin-right: -(1230/2)px;
      .swiper-pagination-bullet {
         text-align: left;
         margin: 0 182px 0 0;
         position: relative;
         color: white;
         font-family: Ubuntu;
         background-color: rgba($color: #000000, $alpha: 0);
         font-size: 1.75rem;
         font-weight: 700;
         line-height: 150%;
         /* 42px */
      }

      .swiper-pagination-bullet::after {
         content: '';
         width: 178px;
         height: 3px;
         background-color: white;
         position: absolute;
         top: 0;
         left: 0;
      }
   }
}

//===========================================================================================//

.header {}

.header__nav-wrapper {
   width: 100%;
   background-color: white;
   position: relative;
   z-index: 100;
}

.header__nav {
   position: relative;
   width: 100%;
   background-color: white;

   z-index: 55;
   width: 100%;
   max-width: 1230px;
   padding: 20px 0;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header__nav-container {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header__nav-main-wrapper {}

.header__nav-main {
   display: flex;
}

.header__logo-wrapper {
   margin-right: 60px;
   display: flex;
   align-items: center;
}

.header__logo {}

.header__nav-list {
   display: flex;
   align-items: center;
   gap: 40px;
   //margin-right: 172px;

   a {
      color: #424551;
      font-family: Ubuntu;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      transition: 0.3s;
      line-height: 160%;
   }

   a:visited {
      color: #424551;
   }

   a:hover {

      color: #FF5A30;
   }



}

.header__nav-main_burger {}

.header__nav-main_burger-icon-wrapper {
   display: none;
   cursor: pointer;
   margin-top: 4px;

}

.header__nav-main_burger-icon-wrapper:hover {
   .header__nav-main_burger-icon {
      fill: #FF5A30;
   }
}

.header__nav-main_burger-icon {
   fill: #424551;
   transition: 0.3s;
}

.header__nav-main_burger-menu {

   display: flex;
   margin-top: 81px;
   flex: 1 1 1;
   position: absolute;
   //height: 100%;
   width: 100%;
   max-height: 50%;
   background-color: #F4F5F6;
   z-index: 20;
   top: 0;
   left: 0;
   transition: 0.5s;
}

.header__nav-main_burger-menu-off {
   top: -1000px;
   transition: 0.5s;
}

.header__nav-main_burger-menu-list {

   width: 100%;
}

.header__nav-main_burger-menu-item {
   margin: 0 auto;
   background-color: white;
   display: flex;
   justify-content: center;
   transition: 0.5s;
   padding: 5px 0 0 30px;
   border: #787A80 1px solid;
   border-top: 0px;

   a {
      margin-right: 10px;
      color: #424551;
      font-family: Ubuntu;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      transition: 0.3s;
      line-height: 160%;
   }

   a:visited {
      color: #424551;
   }

   // a:hover {

   //    color: #FF5A30;
   // }
}

.header__nav-main_burger-menu-item:hover {
   background-color: #FF5A30;

   a {

      color: white;
   }

   .header__nav-main_burger-menu-item-icon {
      path {
         fill: #FFF;
      }
   }
}

.header__nav-main_burger-menu-item-contact {
   display: flex;
   align-items: center;
}

.header__nav-main_burger-menu-item-icon-wrapper {}

.header__nav-main_burger-menu-item-icon {
   path {
      transition: 0.5s;
   }
}

.header__nav-main_burger-menu-item-icon {}

.header__nav-contacts {
   display: flex;
   align-items: center;
   justify-self: end;
   gap: 36px;

   a {
      color: #1E212C;
      font-family: Ubuntu;
      font-size: 1.125rem;
      line-height: 150%;
      white-space: nowrap;
   }

   span {
      color: #424551;
      font-family: Ubuntu;
      font-size: 0.875rem;
      font-weight: 700;
      line-height: 150%;
   }


}

.header__nav-contact {
   display: flex;
}

.header__nav-contact-text {
   display: flex;
   flex-direction: column;
   align-items: start;
   margin-left: 12px;

   a {
      transition: 0.3s;
   }

   a:hover {
      color: #FF5A30;
   }
}

.header__slider {}

.header__swiper {


   //=============
   .swiper-button-prev::before {
      content: '';
   }

   .swiper-button-prev {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: white;
      opacity: 0.5;
      transition: 0.5s;

      .swiper-button-prev-icon {
         width: 50%;
         height: 50%;

      }
   }

   .swiper-button-prev::after {
      content: none;
   }

   .swiper-button-prev:hover {
      opacity: 1;
   }

   //=====================

   .swiper-button-next {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: white;
      opacity: 0.5;
      transition: 0.5s;

      .swiper-button-next-icon {
         width: 50%;
         height: 50%;

      }
   }

   .swiper-button-next:hover {
      opacity: 1;
   }

   .swiper-button-next::after {
      content: none;
   }
}

.header__swiper-slide {
   background-image: url('../img/img/bg-image.jpg');
   background-size: cover;
}

.header__swiper-slide-container {
   max-width: 1230px;
   margin: 0 auto;
   padding: 220px 0 353px 0;
}

.header__swiper-slide-content {
   max-width: 595px;


   &:first-child {

      display: flex;
      flex-direction: column;
   }


}

.header__swiper-slide-title {
   // user-select: text;
   color: #fff;
   font-family: 'Ubuntu';
   font-size: 4.5rem;
   font-style: normal;
   font-weight: 700;
   line-height: 130%;
   /* 93.6px */
   letter-spacing: 1px;
   margin-bottom: 24px;

   i {
      color: #FF5A30;

      font-style: normal;

   }
}

.header__swiper-slide-text {
   color: #FFF;
   font-family: 'Ubuntu';
   font-size: 1.25rem;
   font-weight: 400;
   line-height: 150%;
   /* 30px */
   margin-bottom: 61px;
}

.header__swiper-slide-buttons {
   display: flex;
}

.header__swiper-slide-btn {

   &:first-child {
      @include btn(none, #fff);
      margin-right: 24px;
   }

   &:first-child:hover {
      border: 1px #FF5A30 solid;

      span {
         color: #FF5A30;
      }
   }

   &:last-child {
      @include btn(#FF5A30, #FF5A30);
   }

   &:last-child:hover {
      border: 1px #FF5A30 solid;
      background-color: rgba($color: #000000, $alpha: 0);

      span {
         color: #FF5A30;
      }
   }
}

//===========================================================================================//
.video {}

.video__container {
   max-width: 1230px;
   margin: 0 auto;
   padding: 120px 0 180px 0;

}

.video__text {}

.video__title {

   @include h2Title();
   margin-bottom: 24px;

}

.video__subtitle {
   @include h2Subtitle;
   margin-bottom: 60px;
}

.video__video-wrapper {
   border-radius: 4px;
   overflow: hidden;
   width: 100%;
   height: auto;
   position: relative;
}

.video__video {
   background-color: #1E212C;
   width: 100%;
   aspect-ratio: 12.3 / 5;

}

.video__video-play-btn {
   cursor: pointer;


}

.video__video-play-btn_hidden {
   display: none;
}

.video__video-play-btn-image {
   position: absolute;
   background-color: #FF5A30;
   transition: 0.5s;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto;
   border-radius: 100%;
}

.video__video-play-btn-image:hover {
   transform: scale(1.1);
}

.video__video-volume-btn {

   transition: 0.5s;
   cursor: pointer;
   position: absolute;
   background-color: rgba($color: #fff, $alpha: 0.11999999731779099);
   left: 32px;
   bottom: 32px;
   border-radius: 100%;
   width: 40px;
   height: 40px;

   .video__video-volume-btn-image {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 20px;
      height: 20px;
   }
}

.video__video-volume-btn_hidden {

   .video__video-volume-btn-image {
      display: none;
   }
}

.video__video-volume-btn:hover {
   scale: 1.1;
}

//===========================================================================================//
.values {
   margin-bottom: 168px;
}

.values__container {
   margin: 0 auto;
   max-width: 1230px;
}

.values__title {
   @include h2Title();
}

.values__subtitle {
   margin-top: 24px;
   @include h2Subtitle();
}

.values__items {
   margin-top: 60px;
   display: flex;
   justify-content: space-between;
}

.values__item {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 285px;
}

.values__item-icon {}

.values__item-title {
   margin: 24px 0 8px 0;
   color: #1E212C;
   text-align: center;
   font-family: Ubuntu;
   font-size: 1.25rem;
   font-weight: 700;
   line-height: 150%;
   /* 30px */
}

.values__item-text {
   color: var(--gray-700, #787A80);
   text-align: center;
   font-family: Ubuntu;
   font-size: 1rem;
   line-height: 160%;
   /* 25.6px */
}

//===========================================================================================//
.request-form {}

.request-form__container {
   padding: 0 60px;
   max-width: 1230px;
   margin: 0 auto;
}

.request-form__title {
   @include h2Title;
   margin-bottom: 32px;
}

.request-form__items {
   display: flex;
   justify-content: space-between;
   padding: 0 60px 48px 60px;
   box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
   position: relative;
   bottom: -121px;
   left: 0;
   background-color: white;
}

.request-form__item {}

.request-form__item-title {
   color: var(--gray-800, #424551);
   font-family: Ubuntu;
   font-size: 0.875rem;
   line-height: 150%;
   margin-bottom: 8px;
   /* 21px */
}

.request-form__input {
   padding: 0 16px;
   border-radius: 4px;
   border: 1px solid var(--gray-400, #D7DADD);
   background: var(--gray-200, #F4F5F6);
   width: 260px;
   height: 44px;
   transition: 0.5s;
   color: var(--gray-600, #1E212C);

   /* small/regular */
   font-family: Ubuntu;
   font-size: 0.875rem;
   line-height: 150%;
   /* 21px */

}

.request-form__input:hover {
   -webkit-box-shadow: 4px 4px 10px 1px rgba(34, 60, 80, 0.2);
   -moz-box-shadow: 4px 4px 10px 1px rgba(34, 60, 80, 0.2);
   box-shadow: 4px 4px 10px 1px rgba(34, 60, 80, 0.2);
}

.request-form__btn-wrapper {

   background-color: #FF5A30;
   padding: 0 31px;
   border-radius: 4px;
   margin-top: 28px;
   transition: 0.5s;
   border: 1px #FF5A30 solid;
}

.request-form__btn-text {
   transition: 0.5s;
   text-transform: uppercase;
   color: white;
   text-align: center;
   font-family: Ubuntu;
   font-size: 0.875rem;
   font-weight: 700;
   line-height: 44px;
   /* 314.286% */
   letter-spacing: 0.5px;
   text-transform: uppercase;
}

.request-form__btn-wrapper:hover {
   background-color: rgba($color: #000000, $alpha: 0);

   .request-form__btn-text {
      color: #FF5A30;
   }
}


//===========================================================================================//
.services {
   background-image: url(../img/img/background.jpg);
   padding: 212px 0 125px 0;
}

.services__container {
   margin: 0 auto;
   max-width: 1230px;
}

.services__title {
   @include h2Title;
   margin-bottom: 24px;
}

.services__subtitle {
   @include h2Subtitle;
   margin-bottom: 60px;
}

.services__items {
   display: grid;
   width: 100%;
   grid-template-columns: repeat(auto-fit, minmax(200px, 285px));
   grid-gap: 2.4%;
   grid-auto-flow: row;
   justify-content: center;
}

.services__item {
   aspect-ratio: 1/1;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 26px 24px -10px rgba(30, 33, 44, 0.10), 0px 60px 80px -20px rgba(30, 33, 44, 0.16);
   transition-duration: 0.5s;
   // width: 285px;
   // height: 285px;
}

.services__item-wrapper {
   transition-duration: 0.5s;
   padding: 90px 80px;
   width: 100%;
   height: 100%;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

}

.services__item-icon {

   path {
      transition-duration: 0.5s;
   }

   g {
      path {
         transition-duration: 0.5s;
         //  fill: #FF5A30;
      }
   }
}

.services__item-title {
   transition-duration: 0.5s;
   color: #1E212C;
   text-align: center;
   font-family: Ubuntu;
   font-size: 1.25rem;
   font-weight: 700;
   line-height: 150%;
   /* 30px */
}

.services__item:nth-child(1) {
   background-image: url(../img/img/image-8.jpg);
}

.services__item:nth-child(2) {
   background-image: url(../img/img/image-9.jpg);
}

.services__item:nth-child(3) {
   background-image: url(../img/img/image-7.jpg);
}

.services__item:nth-child(4) {
   background-image: url(../img/img/image-10.jpg);
}

.services__item:hover {

   .services__item-wrapper {
      background-color: rgba($color: #000000, $alpha: 0.16);
   }

   .services__item-icon {
      path {
         fill: white;
      }

      g {


         path {
            fill: white;
         }
      }

   }

   .services__item-title {
      color: white;
   }

}

.services__end-content {
   display: flex;
   justify-content: center;
   gap: 40px;
   margin-top: 85px;
}

.services__end-title {
   color: var(--gray-900, #1E212C);
   font-family: Ubuntu;
   font-size: 1.75rem;
   font-style: normal;
   font-weight: 700;
   line-height: 150%;
}

.services__end-btn {
   @include btn(#FF5A30, #FF5A30);
}

.services__end-btn:hover {
   background-color: rgba($color: #000000, $alpha: 0);
   border: 1px solid #FF5A30;

   span {
      color: #FF5A30;
   }
}

//===========================================================================================//
.browse-our {
   z-index: 2;
}

.browse-our__container {
   max-width: 1230px;
   margin: 0 auto;
   padding: 120px 0;
}

.browse-our__title {
   @include h2Title;
   max-width: 705px;
   text-align: start;
   margin-bottom: 60px;
}

.browse-our__slider {
   margin-bottom: 165px;
}

.browse-our__swiper {}

.browse-our__swiper-wrapper {
   align-items: stretch;
   height: 440px;
   padding-bottom: 30px;
}

.browse-our__slider-slide {
   padding-bottom: 24px;
   display: flex;
   align-items: stretch;
   flex-direction: column;
   overflow: hidden;
   transition: 0.5s;
   max-width: 390px;
   box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.browse-our__slide-btn {
   @include btn(white, #FF5A30);
   align-self: center;
   margin-top: 100%;
   /*64px*/
}

.browse-our__slide-btn-text.btn-text {
   color: #FF5A30;
}

.browse-our__slide-btn:hover {
   background-color: #FF5A30;

   span {
      color: white;
   }
}


.browse-our__slide-image-wrapper {
   max-height: 78.4%;
   transition: max-height 0.5s;
}

.browse-our__slide-image {
   border-radius: 4px 4px 0px 0px;
   width: 100%;
   object-position: top;
   object-fit: none;
   overflow: hidden;
   height: 100%;
   transition: max-height 0.5s;
}

.browse-our__slide-text {}

.browse-our__slide-title {
   margin-top: 16px;
   color: #1E212C;
   text-align: center;
   font-family: Ubuntu;
   font-size: 1.25rem;
   font-weight: 700;
   line-height: 150%;
   /* 30px */
}

.browse-our__slide-subtitle {
   color: #787A80;
   text-align: center;

   /* small/regular */
   font-family: Ubuntu;
   font-size: 0.875rem;
   line-height: 150%;
   /* 21px */
}

.browse-our__slider-slide:hover {
   box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.10), 0px 80px 80px -20px rgba(154, 156, 165, 0.16);

   .browse-our__slide-image-wrapper {
      max-height: 62%;
   }

   .browse-our__slide-btn {
      // transform: translateY(-100%);
      margin-top: 24px;
   }
}

.browse-our__swiper-buttons {
   display: flex;
   justify-content: end;
   gap: 5px;
   margin-bottom: 48px;
}

.browse-our__swiper-button-prev {
   position: static;
   width: 48px;
   height: 48px;
   transition: 0.5s;
   border-radius: 50%;
}

.browse-our__swiper-button-prev svg {
   width: 50%;
   height: 50%;

   path {
      fill: #424551;
      transition: 0.5s;
   }

}

.browse-our__swiper-button-prev:hover {
   background-color: #FF5A30;

   path {
      fill: white;
   }
}

//===============================
.browse-our__swiper-button-prev::after {
   content: none;
}

.browse-our__swiper-button-next {
   position: static;
   width: 48px;
   height: 48px;
   transition: 0.5s;
   border-radius: 50%;
}

.swiper-button-next svg {
   width: 50%;
   height: 50%;

   path {
      fill: #424551;
      transition: 0.5s;
   }
}

.browse-our__swiper-button-next:hover {
   background-color: #FF5A30;

   path {
      fill: white;
   }
}

.browse-our__swiper-button-next::after {
   content: none;
}

.browse-our__end-content {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 40px;
   margin-top: 85px;
}

.browse-our__end-content-btn-text {
   color: #1E212C;
   font-family: Ubuntu;
   font-size: 1.75rem;
   font-weight: 700;
   line-height: 150%;
   /* 42px */
}

.browse-our__end-btn {
   @include btn(#FF5A30, #FF5A30);
}

.browse-our__end-btn:hover {
   background-color: rgba($color: #000000, $alpha: 0);

   span {
      color: #FF5A30;
   }
}

//===========================================================================================//
.facts {
   overflow: hidden;
   background: var(--gray-200, #F4F5F6);
   position: relative;
}

.facts__container {
   padding: 80px 0 120px 0;
   max-width: 1230px;
   margin: 0 auto;
}

.facts__title {
   @include h2Title;
}

.facts__figures-items {
   display: flex;
   max-width: 736px;
   margin: 60px auto 180px auto;
   justify-content: space-between;
}

.facts__figures-item {}

.facts__figures-item-figure {
   position: relative;
}

.facts__figures-item-icon-wrapper {
   position: relative;
}

.facts__figures-item-icon_bottom {}

.facts__figures-item-icon_top {
   top: 0;
   left: 0;
   position: absolute;
}

.facts__figures-item-progress-wrapper {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

.facts__figures-item-progress {
   color: #1E212C;
   font-family: Ubuntu;
   font-size: 2rem;
   font-weight: 700;
   line-height: 150%;
}

.facts__figures-item-description {
   color: var(--gray-900, #1E212C);
   text-align: center;
   font-family: Ubuntu;
   font-size: 0.875rem;
   line-height: 150%;
   margin-top: 20px;
}

.facts__news-items {
   display: grid;
   margin-top: 60px;
   grid-template-columns: 10fr 7fr;
   grid-template-rows: span 2;
   gap: 30px;

}

.facts__news-item:first-child {
   grid-row-start: 1;
   grid-row-end: 3;
}

.facts__news-item {
   transition: 0.5s;
   box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.facts__news-item:hover {

   box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.10), 0px 80px 80px -20px rgba(154, 156, 165, 0.16);

   .facts__news-item-title {
      color: #FF5A30;
   }
}

.facts__news-item-image-wrapper {}

.facts__news-item-image {
   width: 100%;
}

.facts__news-item-description {
   margin: 24px;
}

.facts__news-item-title {
   color: var(--gray-900, #1E212C);
   transition: 0.5s;
   /* lead/bold */
   font-family: Ubuntu;
   font-size: 1.25rem;
   font-weight: 700;
   line-height: 150%;
   /* 30px */
}

.facts__news-item-info {
   color: var(--gray-700, #787A80);
   font-family: Ubuntu;
   line-height: 150%;
   display: flex;
   gap: 24px;
}

.facts__news-item-info-type {}


.facts__news-item-info-date::before {
   content: '';
   height: 12px;
   width: 1px;
   background: #787A80;
   top: 0;
   bottom: 0;
   margin: auto 0;
   right: -12px;
   position: absolute;
}

.facts__news-item-info-date {
   position: relative;
}

.facts__news-item-info-date::after {
   content: '';
   height: 12px;
   width: 1px;
   background: #787A80;
   top: 0;
   bottom: 0;
   margin: auto 0;
   left: -12px;
   position: absolute;
}

.facts__news-item-info-comments {
   display: flex;
   gap: 8px;
}

.facts__news-item-text {
   color: var(--gray-800, #424551);
   font-family: Ubuntu;
   font-size: 1rem;
   line-height: 160%;
   margin-top: 16px;
}

.facts__background {
   opacity: 0.30000001192092896;
   width: 1065.947px;
   height: 858.82px;
   width: fit-content;
   transform: rotate(126.97deg);
   position: absolute;
   z-index: 1;
   top: 0;
   left: -757px;
}

.facts__end-content {
   display: flex;
   gap: 40px;
   justify-content: center;
   align-items: center;
   margin-top: 80px;

}

.facts__end-content-title {
   color: var(--gray-900, #1E212C);
   font-family: Ubuntu;
   font-size: 1.75rem;
   font-weight: 700;
   line-height: 150%;
   /* 42px */

}

.facts__end-content-btn {
   @include btn(#FF5A30, #FF5A30);
}

.facts__end-content-btn:hover {
   background-color: rgba($color: #000000, $alpha: 0);

   span {
      color: #FF5A30;
   }
}


.facts__end-content-btn-text {}

//===========================================================================================//
.application {
   padding: 80px 0;
   background-image: url(../img/img/image-12.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.application__container {
   max-width: 1230px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: end;
   margin: 0 auto;
}


.application__items {
   gap: 24px;
   max-width: 40%;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: white;
   padding: 48px 40px;
}

.application__title {
   @include h2Title;
   font-size: 1.75rem;
   margin-bottom: 24px;
}

.application__item {
   width: 100%;

   display: flex;
   flex-direction: column;
   justify-content: center;
}

.application__item-title {
   color: var(--gray-800, #424551);
   font-family: Ubuntu;
   line-height: 150%;
   /* 21px */
}

.application__input {
   padding: 0 16px;
   border-radius: 4px;
   border: 1px solid var(--gray-400, #D7DADD);
   background: var(--gray-200, #F4F5F6);
   width: 100%;
   height: 44px;
   transition: 0.5s;
   color: var(--gray-600, #1E212C);

   /* small/regular */
   font-family: Ubuntu;
   font-size: 0.875rem;
   line-height: 150%;
   /* 21px */
}

.application__input:hover {
   -webkit-box-shadow: 4px 4px 10px 1px rgba(34, 60, 80, 0.2);
   -moz-box-shadow: 4px 4px 10px 1px rgba(34, 60, 80, 0.2);
   box-shadow: 4px 4px 10px 1px rgba(34, 60, 80, 0.2);
}

.application__item_checkbox {
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
   gap: 12px;
   color: var(--gray-800, #424551);
   font-family: Ubuntu;
   line-height: 150%;
}

.application__input_checkbox {
   width: auto;
   appearance: none;
   position: absolute
}

.application__castom-checkbox {
   margin-top: 0.2em;
   height: 1em;
   aspect-ratio: 1/1;
   border-radius: 20%;
   background-color: #787A80;
}

.application__input_checkbox:checked+.application__castom-checkbox {
   background: url(../img/icons/checked.svg) no-repeat center center;
   background-size: contain;

}

.application__btn-wrapper {
   @include btn(#FF5A30, #FF5A30);
}

.application__btn-wrapper_off {
   background-color: #787A80;
   border: #787A80 1px solid;
   cursor: unset;
}

.application__item_btn {
   width: auto;
}


.application__btn-text {}

//===========================================================================================//
.footer {
   background-color: #1E212C;
   padding: 80px 0;
}

.footer__container {
   margin: 0 auto;
   max-width: 1230px;
   display: flex;
   flex-direction: column;

}

.footer__items_top {
   display: flex;
   margin-bottom: 50px;
   justify-content: space-between;
   // flex-direction: column;
   // align-items: center;
   // justify-content: space-between;
}

.footer__item {
   max-width: 495px;
}

.footer__item-top {
   display: flex;
   margin: 0 0 24px 0;

}

.footer__logo-wrapper {
   margin-right: 60px;
   cursor: pointer;
}

.footer__logo {}

.footer__icons {
   gap: 16px;
   display: flex;
   opacity: 0.6000000238418579;
}

.footer__icon {}

.footer__item-deskription {
   color: var(--white, #FFF);
   opacity: 0.6000000238418579;
   font-family: Ubuntu;
   line-height: 150%;
   /* 21px */
}

.footer__title {
   color: var(--white, #FFF);
   margin-bottom: 24px;
   /* h4 */
   font-family: Ubuntu;
   font-size: 1.5rem;
   font-style: normal;
   font-weight: 700;
   line-height: 150%;
   /* 36px */
}

.footer__item-form {
   display: flex;
}

.footer__input {
   border-radius: 4px 0 0 4px;
   border: 1px solid rgba(255, 255, 255, 0.20);
   background: rgba(255, 255, 255, 0.12);
   //
   padding: 0 16px;
   height: 44px;
   transition: 0.5s;
   color: var(--gray-600, #1E212C);
   font-family: Ubuntu;
   line-height: 150%;
   color: #FFF;
   width: 100%;
}

.footer__item-btn {
   border-radius: 0px 4px 4px 0px;
   background: var(--primary, #FF5A30);
   padding: 0px 32px;
   max-height: 44px;
}


.footer__item-btn-text {
   color: var(--white, #FFF);
   text-align: center;
   font-family: Ubuntu;
   font-size: 0.875rem;
   font-style: normal;
   font-weight: 700;
   line-height: 44px;
   /* 314.286% */
   letter-spacing: 0.5px;
   text-transform: uppercase;
}

.footer__item-description {
   color: var(--white, #FFF);
   font-family: Ubuntu;
   font-size: 0.75rem;
   line-height: 150%;
   opacity: 0.6000000238418579;
   margin-top: 16px;
}

//
.footer__items_center {
   display: flex;
   gap: 20%;
   margin-bottom: 38px;
}

.footer__item {
   display: flex;
   flex-direction: column;
}

.footer__item-info-title {
   color: var(--white, #FFF);
   font-family: Ubuntu;
   font-size: 1rem;
   font-weight: 700;
   line-height: 150%;
   letter-spacing: 1px;
   text-transform: uppercase;
   margin-bottom: 13px;
}

.footer__item-links {
   display: flex;
   flex-direction: column;
   gap: 4px;
}

.footer__item-link {}

.footer__item-link-name {
   color: var(--white, #FFF);

   /* base/regular */
   font-family: Ubuntu;
   font-size: 1rem;
   line-height: 160%;
   /* 25.6px */
}

.footer__item-link-content {
   color: var(--white, #FFF);
   opacity: 0.6000000238418579;
   /* base/regular */
   font-family: Ubuntu;
   font-size: 1rem;
   line-height: 160%;
   transition: 0.5s;
   /* 25.6px */
}

.footer__item-link-content:hover {
   color: #FF5A30;
   opacity: 1;
}

//
.footer__item_bottom {
   display: flex;
}

.footer__items_bottom {
   justify-content: space-between;
   display: flex;
}

.footer__item-rights {
   display: flex;
   gap: 4px;
   color: var(--white, #FFF);

   /* extrasmall/regular */
   font-family: Ubuntu;
   font-size: 0.75rem;
   line-height: 150%;
   /* 18px */
}

.footer__item-bottom-end {
   display: flex;
   align-items: end;
   gap: 16px;
}

.footer__item-bottom-end-text {
   color: var(--white, #FFF);
   font-family: Ubuntu;
   font-size: 1rem;
   line-height: 150%;
}

.footer__item-bottom-end-btn {
   width: 40px;
   height: 40px;
   background-color: #FF5A30;
   background-image: url(../img/icons/Up-chevron.svg);
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 4px;
   background-size: 60%;
}